body{
    background-color: rgb(242, 214, 214);
}
.formcontainer{
   background-color:  rgb(207, 103, 103);
   width: 500px;
   height: 500px;
   margin-left:500px;
   margin-top: 70px;
   text-align: center;
}
.formcontainer h2{
    padding-top:20px;
}
button{
    background-color: blue;
    color: aliceblue;
}
.navbarstyle{
    background-color: rgb(207, 103, 103);
    height: 35px;
    display:flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
}
